<div class="jumbotron">
    <h1>{{title}}</h1>
</div>

<div>
    <ul class="character-list">
      {{#each character_list as |character|}}
        <li>{{character}}</li>
      {{/each}}
    </ul>
</div>
