<div class="jumbotron">
    <h1>{{title}}</h1>
</div>

<div>
    <ul class="character-list">
      {{#each character_list as |character|}}
        <li>{{character}}</li>
      {{/each}}
    </ul>
    {{#link-to "character.add" class="character-add"}}Add{{/link-to}}
</div>
